# This is an example .env file for storing hosts/tokens for testing.
# Copy to .env to have it picked up (.env.development better?)

#CANVAS_HOST={Replace with the testing host, example: https://oxeval.instructure.com/}
#OAUTH_TOKEN={Replace with token to test with}
#ACCOUNT_ID={Replace with the account id where the objects will be created, example: 6044}
#AMAZON_S3_BUCKET_URL={Replace with the Amazon S3 Bucket where the settings are stored, example: https://oxctl-modules.s3-eu-west-1.amazonaws.com}
