/********************************************************************************
 * START - UoO Styles for sub-modules in lh navigation
*********************************************************************************/
ul.ou-section-tabs-sub {
    list-style: none;
    margin: 0;
    padding: 0;
}

a.ou-section-link-sub {
    display: block;
    text-decoration: none;
    color: var(--ic-brand-font-color-dark);
    border-radius: 3px;
    padding: 4px 12px 4px 24px;
    white-space:nowrap;
    overflow: hidden;
    text-overflow: ellipsis;  
    line-height: 1.3;
}

a.ou-section-link-sub.ou-multiline {
    white-space: normal;
}

a.ou-section-link-sub:hover, a.ou-section-link-sub:focus {
    background:#f2f2f2
}

a.ou-section-link-sub.active{
    /*background-color:var(--ic-brand-primary);*/
    /*font-weight:bold;
    color:#fff*/
    padding-left: 22px;
}
a.ou-section-link-sub.active:focus{
    outline-offset:.0625rem;
    outline-color:var(--ic-link-color)
}
a.ou-section-link-sub.active:hover,a.ou-section-link-sub a.active:focus{
    background-color:var(--ic-brand-primary)
}
/********************************************************************************
 * END - UoO Styles for sub-modules in lh navigation
*********************************************************************************/
/********************************************************************************
 * START - UoO Styles for progress icons buttons and bar
*********************************************************************************/

.ou-ProgressBar {
  height: 15px;
  border-radius: 3px;
  border: 1px solid #aaa;
  background: #fff;
  overflow: hidden;
}

.ou-ProgressBarBar {
  height: 100%;
  border: 1px solid var(--ic-link-color);
  background-image: linear-gradient(to bottom, var(--ic-link-color), var(--ic-link-color)) !important;
}

div.ou-ColContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

div.ou-LeftCol, div.ou-RightCol {
    flex:0 0 auto; /* Forces side columns to stay same width */
}

div.ou-CentreCol {
    flex:1 1 auto; /* Lets middle column shrink/grow to available width */
    padding: 0px 1em 0px 1em;
}

.ou-ProgBarContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.ou-ProgLeftCol {
    flex:0 0 auto; /* Forces side columns to stay same width */
}

.ou-ProgRightCol {
    flex:1 1 auto; /* Lets middle column shrink/grow to available width */
    padding: 0px 1em 0px 1em;
}

.ou-PreviousTop {
    margin-right: 1em;
}
.ou-NextTop {
    margin-left: 1em;
}

div.ou-progress-icons {
    display: flex;
    justify-content: center;
    align-items: center;
}

ul.ou-progress-items {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li.ou-progress-item {
    float: left;
    margin-left: 6px;
}

li.ou-progress-item.small {
    margin-left: 0px;
}

li.ou-progress-item a {
    color: var(--ic-brand-font-color-dark-lightened-30);
    background-color: #f5f5f5;;
    display: block;
    width: 26px;
    height: 30px;
    padding: 6px 0 0 10px;
    border: 1px solid;
    border-color: #C7CDD1;
    border-radius: 50%;
}
li.ou-progress-item.small a {
    color: var(--ic-brand-font-color-dark-lightened-30);
    background-color: #f5f5f5;;
    width: 100%;
    height: 30px;
    padding: 0px;
    border: 1px solid;
    border-color : rgba(199, 205, 209, 1);
    border-radius: 0%;
}
li.ou-progress-item a:hover {
    background-color: #e8e8e8;
}
li.ou-progress-item a.active {
    color: #fff;
    border: 1px solid var(--ic-brand-primary-darkened-15);
    background-color: var(--ic-brand-primary);
}
li.ou-progress-item a.active:hover {
    background-color: var(--ic-brand-primary-darkened-15);
}
/********************************************************************************
 * END - UoO Styles for progress icons buttons and bar
*********************************************************************************/

/********************************************************************************
 * START - UoO Styles for cards on Modules page 
*********************************************************************************/
.ou-ModuleCard{
	box-sizing: border-box;
	box-shadow: 0 2px 5px rgba(0,0,0,0.3);
	border-radius: 6px;
	overflow: hidden;
	background: #fff;
	width: 100%;
	/*max-width: 262px;*/
	display: inline-block;
	vertical-align: top;
	margin: 18px auto 18px auto;
}

.ou-ModuleCard__header_hero_short {
	box-sizing: border-box;
	height: 100px;
	border: 1px solid rgba(0,0,0,0.1);
	/* for full color tile */
	padding: 25px 20px 0px 20px;
    background-repeat: no-repeat;
    background-size: cover;
}

.ou-ModuleCard__header_content {
	box-sizing: border-box;
	padding: 0px 18px 0px 18px;
	background: #fff;
    text-align: left;
}

.ou-ModuleCard__header-title {
	transition: all 0.2s ease-out;
	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
	padding: 18px 0px 18px 0px;
	margin: 0 35px 0 0;
	line-height: 1.3;
	/* for full color tile */
	font-size: 14px;
	color: #fff;
	/*font-size: 14px;*/
	font-weight: bold;
}

.ou-ModuleCard__header-title.no-actions {
	margin-right: 0px;
}

.ou-drop-down-arrow {
    float: right;
    padding: 8px 0px 0px 0px;
}

div.ou-drop-down-arrow a.al-trigger {
    padding: 6px 10px 6px 10px;
}

.icon-mini-arrow-down {
    transform: rotate(0deg);
    transition: transform 0.2s linear;
    color: var(--ic-brand-font-color-dark);
}

.icon-mini-arrow-down.open {
    transform: rotate(180deg);
    transition: transform 0.2s linear;
}

.ou-ModuleCard a {
	text-decoration: none !important;
}
.ellipsis {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
.ou-top_button {
	margin-left: 10px;
}

.ou-items-menu {
    /*display: none;*/
    padding: 0 18px;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}

ul.ou-menu-items-list {
    list-style: none;
}

li.ou-menu-item-wrapper a {
    color: var(--ic-brand-font-color-dark);
}

/*.ou-items-menu.show {
    display: block;
}*/


/********************************************************************************
 * END - UoO Styles for cards on Modules page 
*********************************************************************************/